$e6:#e6e6e6;
$m-screen:648px; //适配ipad

$base:14px;
.markdown{
    $brown: rgba(192, 91, 77, 0.3);
    $color: rgba(52, 73, 94, 0.8);
    $bg: rgba(192, 91, 77, 0.05);
    $red: #c05b4d;
    $d-pink:#f8f5ec;
    $s-light-gray:#839496;
    font-size:$base;
    * {
       word-wrap:break-word;
       word-break:break-all;
    }
    //设置h1到h6
    @for $i from 1 through 6 {
      h#{$i} {
        font-size:$base+12-$i*3;
        margin-top:$base + 2 - $i*2;
      }
    }
    p{
        font-size:$base+2px;
        line-height: 1.7em;
        margin: 0;
    }
    pre{
         code{
            width: 100%;
            display: block;
            color: $s-light-gray;
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
            border-radius: 5px;
        }
    }
    code{
        display: inline-block;
        background: $d-pink;
        color:  $red;
        padding: 0.4em 0.5em;
    }

    blockquote{
        margin: 4px 0;
        padding: 10px;
        position: relative;
        color: $color;
        background-color: $bg;
        border-left: 3px solid $brown;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
    }
    a{
        color:$red;
        background: transparent;
        text-decoration: none;
        outline: none;
        cursor: pointer;
        -webkit-transition: color .3s ease;
        transition: color .3s ease;
    }
    ol{
        display: block;
        list-style-type: decimal;
        padding-left:1em;
        li{
            list-style: decimal;
        }
    }
}









